# Ignore node modules
node_modules/*

# Ignore output files
build/*
out/*
docs/*

# Ignore unsefull files
yarn-error.log
yarn.lock
.vscode/*
test/*
tests/*

# Ignore settings files
**/process.env
.npmrc
